.git/**
.github/**
.vscode/**
src/**
docs/**
test/**
node_modules/**
!node_modules/sql.js/**
!node_modules/marked/LICENSE
!node_modules/marked/package.json
!node_modules/marked/lib/marked.esm.js
!node_modules/dompurify/LICENSE
!node_modules/dompurify/package.json
!node_modules/dompurify/dist/purify.es.mjs
!node_modules/highlight.js/LICENSE
!node_modules/highlight.js/package.json
!node_modules/highlight.js/es/common.js
!node_modules/highlight.js/lib/common.js
!node_modules/highlight.js/lib/core.js
!node_modules/highlight.js/lib/languages/{xml,bash,c,cpp,csharp,css,markdown,diff,ruby,go,graphql,ini,java,javascript,json,kotlin,less,lua,makefile,perl,objectivec,php,php-template,plaintext,python,python-repl,r,rust,scss,shell,sql,swift,yaml,typescript,vbnet,wasm}.js
package-lock.json
tsconfig.json
tsconfig.test.json
vitest.config.ts
resources/**
